* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body{
        margin: 0;
    padding: 0;
    line-height: 1.7em;
    font-family: var(--bs-font-sans-serif);
    font-size: 12px;
    background: #F2F2F2;
        display: block;
}
.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    
}
.navbar a:hover,
.navbar a.active {
    color: #009688;
    border-bottom: 4px solid #009688;
}

.navbar .logo {
    font-size: 1.6rem;  
    color: #3399CC;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 1rem;
    
}
.logo{
    font-size: 1.6rem;
    font-weight: 200;
    
}

.navlink {
    display: flex;
    list-style: none;
    gap: 10px;
    
}
.pht{
    color: #666666;
    border-bottom: 4px solid #33CCFF;
    font-size: 1.2rem;
    padding-right: .5rem;
    padding-left: .5rem;
}

.navlink a {
    text-decoration: none;
    color: #666666;
    font-size: 18px;
        padding: .5rem 1rem;
}


.search {
    min-height: 200px;
    background: url('./hero.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    width: 460px;
    background: #009999;
    overflow: hidden;
    
}

.search-box input {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: #009999;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    padding: 12px 15px;
    color: #009999;
    border: none;
}

.search-box button {
    padding: 15px 20px;
    width: 100px;
    height: 50px;
    margin-left: -1;
    
    background: #009999;
    border: none;
    color: white;
    cursor: pointer;
    
}
.search-box button:hover {
    background: #198754;
}

.container h2 {
    width: 100%;
    font-size: 32px;
    margin: 20px 0;
    color: #00796B;
}

.container {
    padding: 20px 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}


.photo {
    max-width: 1770px;
    
}

.card {
    width: 100%;
    cursor: pointer;
    overflow: hidden; 
    position: relative;   
}

.ttt{
    color: #009999;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 550;
    line-height: 2;
}
.card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}
.photo{
    max-width: 1200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    height: 86%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(91, 83, 83, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.content:hover{
    opacity: 1;
}
.content h3{
    font-size: 35px;
    color: #ffe100;
    margin-bottom: 60px;
    font-weight: 100;
}
.content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.txt {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #999;
    font-size: 15px;
}
 .page span:hover{
    background : #009999;
    color: #fff;

 }
.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}
.pages .prev{
    cursor: not-allowed;
    background-color: #009999;
}

.pages button {
    background: #009999;
    width: 165px;
    height: 55px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.page span {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #eee;
    color: gray;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.page .active {
    background: #0f8b86;
    color: white;
}


footer {
    background: #f0f0f0;
    padding: 30px 20px 10px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-container div {
    width: 30%;
    min-width: 250px;
}

footer h3 {
    color: #009999;
}
.links li{
    cursor: pointer;
}

.links li:hover{
    color: #00796B;
}
footer p, footer li {
    color: #999;
    font-size: 14px;
    line-height: 2;
}

footer ul {
    list-style: none;
    padding: 0;
}

.social p{
    cursor: pointer;
}
.social p:hover{
    color: #00796B;
}

.social .icons span {
    width: 45px;
    height: 45px;
    background: white;
    color: #999;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}
.icons span:hover{
    background : #009999;
    color: #fff;
}

.bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 10px;
}





@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .search-box {
        width: 90%;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}