
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    
}
.navbar a:hover,
.navbar a.active {
    color: #009688;
    border-bottom: 2.5px solid #009688;
}

.logo {
    font-size: 1.6rem;
    color: #3399CC;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.navlink {
    display: flex;
    list-style: none;
    gap: 45px;
}
.pht{
    border-bottom:  4px solid #33CCFF;
    width: 4px;
}

.navlink a {
    text-decoration: none;
    color: #666666;
    font-size: 18px;
}


.search {
    width: 100%;
    height: 250px;
    background: url('./hero.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    width: 35%;
    background: #009999;
    overflow: hidden;
    
}

.search-box input {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: #009999;
}

.search-box button {
    padding: 15px 20px;
    width: 100px;
    height: 50px;
    background: #009688;
    border: none;
    color: white;
    cursor: pointer;
    
}
.search-box button:hover {
    background: #009999;
}

.container h2 {
    width: 100%;
    font-size: 32px;
    margin: 20px 0;
    color: #00796B;
}

.container {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.photo {
    width: 100%;
}

.card {
    width: 100%;
    cursor: pointer;
    overflow: hidden;   
}
.ttt{
    color: #009999;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.txt {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #999;
    font-size: 15px;
}

.footer .next{
    color: white;
    cursor: pointer;
    background: #009999;
    width: 500px;
    border-radius: 5px;
    font-size: medium;
    border: none;
    margin-right: 38px;
}
.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
}

.pages button {
    background: #009999;
    width: 165px;
    height: 55px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.page span {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #eee;
    color: gray;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.page .active {
    background: #0f8b86;
    color: white;
}


footer {
    background: #f0f0f0;
    padding: 30px 20px 10px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-container div {
    width: 30%;
    min-width: 250px;
}

footer h2 {
    color: #009999;
}

footer p, footer ul, footer li {
    color: #999;
    font-size: 14px;
    line-height: 1.8;

}

footer ul {
    list-style: none;
    padding: 0;
}

.social .icons span {
    width: 45px;
    height: 45px;
    background: white;
    color: #666;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}


.bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 10px;
}





@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .search-box {
        width: 90%;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}
